portalocker
langchain
qdrant-client[fastembed-gpu]
langchain_openai
langchain_community
scikit-learn
numpy
tqdm
pydantic
maturin
uvicorn
streamlit
langchain_ollama
langchain-qdrant
langchain-huggingface
Flask
fastapi
mysql-connector-python
scikit-learn
underthesea
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-texttospeech
gradio_client
torch
torchvision
langchain-core
tqdm
pydantic
numpy<2.0.0
transformers
protobuf
requests
pyvi
python-docx
docx2txt
unstructured
unstructured[pdf]
pdf2image
pdfminer.six
